.Loading {
    position: fixed;
    height: 10vh;
    bottom: 45vh;
    left: calc(50vw - 5vh);
    padding: 1vmin;
}

.LoadingCard {
    position: fixed;
    height: 14vh;
    width: 14vh;
    bottom: 43vh;
    left: calc(50vw - 7vh);
    background-color: lightgray;
    border-radius: 2vmin;
    opacity: .8;
    z-index: 4;

    display: block;
}

.LoadingCard p {
    justify-content: center;
    margin: 40% 25%;
}

#FastSpinning {
    animation: App-logo-spin infinite 1s linear;
    opacity: .7;
    z-index: 2;
}

.SlowSpinning {
    animation: App-logo-spin infinite 2s linear reverse;
    opacity: .9;
}

#TopLoading {
    z-index: 3;
}

#BottomLoading {
    z-index: 1;
}